:root {
    --primary-white-color: #fff;
    --primary-dark-color: #000;
    --primary-color: #001233;
    --secondary-color: #ff5500;
    --thirdary-color: #efe0ca;
    --font-size-base: 16px;
    --font-family-base: "Oswald", sans-serif;
    --line-height-base: 1.5;
    --image-max-width: 100%;
    --base-border-color: var(--primary-color);

    // Button
    --button-primary-text-color: var(--primary-white-color);
    --button--primary-border-color: var(--secondary-color);
    --button--primary-bg-color: var(--secondary-color);

    --button-secondary-text-color: var(--primary-color);
    --button--secondary-border-color: var(--thirdary-color);
    --button--secondary-bg-color: var(--thirdary-color);

    // Close
    --button--close-icon-color: var(--primary-color);

    // Toggle
    --button--toggle-lines-color: var(--primary-white-color);

    // Navbar
    --navbar-bg-color: var(--primary-white-color);
    --navbar-link-color: var(--thirdary-color);
    --navbar-link-color-hover: var(--secondary-color);

    // Form
    --form-text-color: var(--primary-color);
    --form-border-color: var(--primary-color);
    --form-invalid-color: var(--secondary-color);

    //Overlay
    --overlay-bg-color: var(--primary-white-color);

    // Empty results
    --empty-results-icon-color: var(--secondary-color);

    // Post single
    --post-single-top-bg-color: var(--thirdary-color);
    --post-single-top-text-color: var(--primary-color);

    // Post actions
    --post-actions-bg-color: rgba(0, 18, 51, 0.9);
}
