:root {
    --primary-text-color: #fff;
    --primary-bg-color: #000;
    --primary-color: #1A1F38;
    --secondary-color: #005792;
    --font-size-base: 16px;
    --font-family-base: 'Oswald', sans-serif;
    --line-height-base: 1.5;
    --image-max-width: 100%;

    // Button
    --button-text-color: #fff;
    --button--close-bg-color: #005792;
    --button--close-border-color: #005792;

    // Toggle
    --button--toggle-lines-color: #005792;

    // Navbar 
    --navbar-bg-color: #fff;
}
