.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    transition: 0.3s all;
    padding: 12px 25px;
    border: none;
    min-height: 46px;
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &--primary {
        background-color: var(--primary-color);
        border-color: var(--button--close-border-color);
        color: var(--button-text-color);
        &:hover {
            color: 000;
            opacity: 0.8;
        }
    }
    &--secondary {
        background-color:#efe0ca;
        border-color: #efe0ca;
        color: #1A1F38;
        &:hover {
            color: 000;
            opacity: 0.8;
        }
    }
    &--md {
        @include respond-to("md") {
            min-width: 140px;
        }
    }
    &--toggle {
        width: 30px;
        height: 20px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        position: relative;
        display: block;
        background: transparent;
        i {
            display: block;
            width: 30px;
            height: 2px;
            background: var(--button--toggle-lines-color);
            position: absolute;
            left: 0;
            top: 9px;
            transition: all 0.2s ease-out;
        }
        &:before,
        &:after {
            display: block;
            width: 30px;
            height: 2px;
            position: absolute;
            transition: all 0.2s ease-out;
            content: "";
            left: 0;
            background: var(--button--toggle-lines-color);
        }
        &:before {
            top: 0;
        }
        &:after {
            top: 18px;
        }
    }
    &--toggle--active {
        i {
            opacity: 0;
        }
        &:before,
        &:after {
            top: 9px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &--back {
        padding: 0;
        svg {
            width: 20px;
            height: 20px;
            fill: #1A1F38;
            transition: .3s;
        }
        &:hover {
            svg {
                opacity: 0.5;
            }
        }
    }
}