.posts {
    display: block;
    margin: 20px 0;
    @include respond-to("md") {
        margin: 40px 0;
    }
    &-item {
        border-bottom: 1px solid #fff;
        margin-bottom: 15px;
        padding-bottom: 5px;
        @include respond-to("md") {
            padding-bottom: 15px;
        }
        &:last-child {
            border: none;
        }
    }
    .post {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        @include respond-to("md") {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
        &-image {
            @include respond-to("lg") {
                align-self: stretch;
                position: relative;
                flex-basis: 25%;
                margin-right: 20px;
            }
            img {
                @include respond-to("lg") {
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        &-status {
            padding: 3px 8px;
            border-radius: 4px;
            line-height: 1;
            margin: 0;
            display: inline-block;
            text-transform: capitalize;
            font-size: 14px;
            color: #fff;
            &.post-published {
                background-color: #46c646;
            }
            &.post-draft, &.post-pending {
                background-color: #ff3232;
            }
        }
        &-meta {
            display: block;
            margin: 10px 0;
            opacity: 0.5;
            font-size: 14px;
        }
    }
}
