.post {
    &-top {
        padding: 20px 0;
        margin-bottom: 10px;
        background: var(post-single-top-bg-color);
        color: var(--post-single-top-text-color);
        @include respond-to("md") {
            padding: 70px 0;
            margin-bottom: 40px;
        }
    }
}
