.posts {
    display: block;
    margin: 20px 0;
    @include respond-to("md") {
        margin: 40px 0;
    }
    &-item {
        margin-bottom: 15px;
        padding-bottom: 5px;
        position: relative;
        @include respond-to("md") {
            padding-bottom: 15px;
        }
        &:last-child {
            border: none;
        }
        &:hover {
            .post-actions {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
    .post {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        @include respond-to("lg") {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
        &-image {
            @include respond-to("lg") {
                align-self: stretch;
                position: relative;
                flex-basis: 25%;
                min-width: 25%;
                margin-right: 20px;
            }
            img {
                @include respond-to("lg") {
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        &-meta {
            display: block;
            margin: 10px 0;
            opacity: 0.5;
            font-size: 14px;
        }
        &-actions {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 15px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: var(--post-actions-bg-color);
            transition: 0.3s all;
            .btn {
                &:not(:last-child) {
                    margin: 0 15px 0 0;
                }
            }
        }
    }
    &-add {
        text-align: center;
        margin: 0 0 20px;
        @include respond-to("md") {
            margin: 0 0 40px;
        }
    }
}
