.header {
    position: relative;
    height: 57px;
    background: transparent;
    background: var(--primary-color);
    @include respond-to("md") {
        height: 76px;
    }
    &--wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }
    &-logo {
        color: var(--secondary-color);
        font-weight: bold;
        font-size: 18px;
        transition: 0.3s;
        @include respond-to("md") {
            font-size: 22px;
        }
        &:hover {
            color: var(--thirdary-color);
        }
    }
}
