.header {
    position: relative;
    height: 57px;
    background: transparent;
    background: #1A1F38;
    @include respond-to("md") {
        height: 76px;
    }
    &--wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }
    &-logo {
        color: #ff5500;
        font-weight: bold;
        font-size: 18px;
        @include respond-to("md") {
            font-size: 22px;
        }
    }
}
