.nav {
    display: flex;
    align-items: center;

    &-list {
        list-style: none;
        margin: 0;
        position: absolute;
        left: 0;
        top: 57px;
        width: 100%;
        height: 100vh;
        display: none;
        padding: 20px 15px;
        flex-direction: column;
        z-index: 1;
        background: var(--navbar-bg-color);
        @include respond-to("md") {
            top: 76px;
        }

        &--active {
            display: block;
        }

        @include respond-to("md") {
            display: flex;
            padding: 0;
            flex-wrap: nowrap;
            flex-direction: row;
            z-index: auto;
            height: auto;
            width: auto;
            position: static;
            top: auto;
            left: auto;
            background: transparent;
        }
    }

    &-item {
        margin: 0 0 8px;
        padding: 0 0 8px;
        border-bottom: 1px solid var(--base-border-color);
        &:last-child {
            border: none;
        }
        @include respond-to("md") {
            margin: 0 20px;
            padding: 0;
            border: none;
        }
    }

    &-link {
        display: block;
        width: 100%;
        position: relative;
        z-index: 9;
        cursor: pointer;
        background: transparent;

        &:hover {
            text-decoration: underline;
        }

        @include respond-to("md") {
            display: inline-block;
            width: auto;
            padding: 5px 12px;
            color: var(--navbar-link-color);
            transition: 0.3s;
            &:hover {
                color: var(--navbar-link-color-hover);
            }
        }
    }
}
